body {
    display:flex;
    margin: 4px auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

button {
    padding: 2px 10px;
    font-size: 16px;
    background-color: #EEE;
    color: #222;
    border: 2px solid rgb(36, 34, 56);
    border-radius: 10px;
}

#container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.element {
    box-sizing: border-box;
    border: 1px solid rgb(24, 24, 26);
    background-color: rgb(36, 34, 56);
}

.highlight {
    background-color: rgb(133, 138, 182);
}