body {
    display: flex;
    margin: 4px auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e6e6f1;
}

button {
    padding: 4px 10px;
    font-size: 18px;
    background-color: rgb(36, 34, 56);
    color: rgb(176, 179, 212);
    border: 2px solid rgb(176, 179, 212);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#container {
    max-width: 960px;
    max-height: 960px;
    display: flex;
    flex-wrap: wrap;


    
}

.element {
    box-sizing: border-box;
    border: 1px solid rgb(24, 24, 26);
    background-color: rgb(36, 34, 56);
}

.highlight {
    background-color: rgb(133, 138, 182);
}

#title {
    font-size: 28px;
}

#left-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 10px;
    background-color: rgb(133, 138, 182);
    padding: 20px;
    border: 2px solid rgb(24, 24, 26);
    border-radius: 10px;
}